{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
      <div class="ui hidden divider"></div>
        <div class="sixteen wide tablet twelve wide computer centered column">
             <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Default Checklist Items
                <div class="sub header">
                    View and manage default checklist items.
                </div>
            </h2>

            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="right floated content">
                        <a href="{{ url_for('checklist.add_default_checklist_item') }}" class="ui button">
                            <i class="plus icon"></i>
                            New default checklist item
                        </a>
                    </div>
                    <div class="content">
                        <div class="ui left icon fluid input">
                            <i class="search icon"></i>
                            <input id="search-checklist-items" type="text" placeholder="Search checklist item by name">
                        </div>
                    </div>
                </div>
            </div>

            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="one wide"></th>
                    </tr>
                </thead>
                <tbody>
                {% for c in default_checklist_items %}
                    <tr>
                        <td>{{ c.title }}</td>
                        <td>{{ c.description }}</td>
                        <td>
                          <div class="ui buttons">
                            <a href="{{ url_for('checklist.edit_default_checklist_item', id=c.id) }}" class="ui small compact icon button">
                              <i class="edit icon"></i>
                            </a>
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                            <button class="ui small compact icon button delete-checklist-item" id="{{ c.id }}">
                              <i class="trash alternate icon" id="{{ c.id }}"></i>
                            </button>
                          </div>
                        </td>
                        <!--confirmation modal for deleting a checklist item-->
                        <div id="modal-{{ c.id }}" class="ui tiny modal delete-checklist-item-modal">
                           <div class="header">Delete {{ c.title }}</div>
                           <div class="content">Are you sure you want to delete {{ c.title }}?</div>
                           <div class="actions">
                             <div class="ui cancel button">Cancel</div>
                             <a href="{{ url_for('checklist.delete_default_checklist_item', id=c.id) }}"
                               class="negative ui button">Yes, delete this item</a>
                           </div>
                        </div>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // searching within the checklist items
            $('#search-checklist-items').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            // displaying modal for deleting an item when the delete button is clicked
            $('.delete-checklist-item').on('click', function(e) {
                id = e.target.id; // gets the id and shows the appropriate modal
                $('#modal-' + id).modal('show');
            });
        });
    </script>
{% endblock %}
