{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui stackable centered grid container" style="padding-top: 15%">
  <div class="six wide column">
    <div class="ui fluid centered red card">
      <div class="content">
        <div class="description">{{ stop_message }}</div>
      </div>
      <div class="content">
        <a class="ui button" href="{{ url_for('survey.restart_survey') }}">
          Retake Survey
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
