{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set flashes = {
'success': get_flashed_messages(category_filter=['form-success']),
'error': get_flashed_messages(category_filter=['form-error'])
} %}

{% block content %}
<div class="ui centered stackable grid container" style="padding-top: 15%;">
    <div class="six wide column">
        <div class="ui fluid centered card">
            <div class="content">
                <div class="header">Survey</div>
            </div>
            <div class="content">
                {{ f.begin_form(form, flashes) }}
                <div style="display:none;">
                    {{ f.render_form_field(form.csrf_token) }}
                </div>

                {{ f.render_form_field(form.response) }}

                <div class="ui buttons">
                    {{ f.render_form_field(form.submit) }}

                    <a class="ui basic button" href="{{ url_for('survey.restart_survey') }}">Restart</a>
                </div>
                {{ f.end_form(form) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}
