{% macro file_upload(fieldname) %}
<script>
$('body').on('change', 'input:file', function() {
  var file = $(this)[0].files[0];
  getSignedRequest(file)
})
function getSignedRequest(file){
  var xhr = new XMLHttpRequest();
  xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
  xhr.onreadystatechange = function() {
  if (xhr.readyState === 4) {
    if (xhr.status === 200){
      var response = JSON.parse(xhr.responseText);
      uploadFile(file, response.data, response.url, response.url_upload)
    } else{
    alert('Could not get signed URL.');
    }
  }
};
  xhr.send();
}
function uploadFile(file, s3Data, url, urlUpload, fieldName) {
  // basic validation
  var fileType = url.substring(url.lastIndexOf('.') + 1);
  var xhr = new XMLHttpRequest();
  xhr.upload.addEventListener("progress", updateProgress);
  xhr.open('POST', urlUpload);
  xhr.setRequestHeader('x-amz-acl', 'public-read');
  var postData = new FormData();
  postData.append('key', s3Data.fields.key);
  postData.append('file', file);
  $('.modal')
    .modal('show');
  function updateProgress (e) {
    if (e.lengthComputable) {
      var percentComplete = ((100*e.loaded)/e.total).toFixed(2);
      var percentCompleteShort = ((100*e.loaded)/e.total).toFixed(0);
      $('#progress').text(percentCompleteShort);
    }
  }
  xhr.onreadystatechange = function()  {
    if (xhr.readyState === 4) {
      if (xhr.status === 200 || xhr.status === 204) {
        handleFunc(url, file);
      } else{
        alert('Could not upload file.');
      }
    }
  };
  xhr.send(postData);
}
function handleFunc(url, file) {
  var curr = $("#{{ fieldname }}").val()
  $("div > input#{{ fieldname }}").val(curr + ( curr ? ',': '' ) + url);
  $("#{{ fieldname }}_list").append(
    '<div class="badge badge-light"><i class="file icon"></i><a href="' + url + '">' + url + '</a><span class="delete badge badge-danger" data-url="' + url + '">Delete Document</span></span>')
};
$('body').on('click', '.delete', function() {
  var url = $(this).data('url');
  var arr = $("div > input#{{ fieldname }}").val().split(',');
  var idx = arr.indexOf(url);
  if (idx > -1) {
    arr.splice(idx, 1)
  }
  $("div > input#{{ fieldname }}").val(arr.join(','))
  $(this).parent().remove();
  $(this).remove();
})
</script>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="filemodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filemodal">Upload Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2><span id="progress"></span>%</h2>
        <p>We are uploading your file!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}