{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
      <div class="ui hidden divider"></div>
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Applications
                <div class="sub header">
                    View and manage applications.
                </div>
            </h2>

            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="content">
                        <div class="ui left icon fluid input">
                            <i class="search icon"></i>
                            <input id="search-applications" type="text" placeholder="Search applications...">
                        </div>
                    </div>
                </div>
            </div>

            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Stage</th>
                        <th>Completed Checklist</th>
                    </tr>
                </thead>
                <tbody>
                {% for u in user %}
                    <tr>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td>{{ u.phone_number }}</td>
                        <td>{{ u.application.stage}}</td>
                        <td>
                          <div class="ui buttons">
                            <a href="{{ url_for('application.change_status_to_complete', user_id=u.id) }}" class="ui small compact icon button">
                              <i class="check icon"></i>
                            </a>
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                          </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // searching within the checklist items
            $('#search-applications').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}
