{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui stackable grid container">
      <div class="ui hidden divider"></div>
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Applications
                <div class="sub header">
                    View and manage applications.
                </div>
            </h2>
            <h3 class="ui header">
                Assign Advisor to Selected Applicants
            </h3>
            {% set flashes = {
               'error':   get_flashed_messages(category_filter=['form-error']),
               'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(advisor_form, flashes) }}
            {{ f.render_form_field(advisor_form.advisor) }}
            {{ f.render_form_field(advisor_form.submit) }}
            {{ advisor_form.applicant_ids }}
            {{ f.end_form(advisor_form) }}

            <h3 class="ui header">
                Assign Partner to Selected Applicants
            </h3>
            {% set flashes = {
               'error':   get_flashed_messages(category_filter=['form-error']),
               'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(partner_form, flashes) }}
            {{ f.render_form_field(partner_form.partner) }}
            {{ f.render_form_field(partner_form.submit) }}
            {{ partner_form.applicant_ids }}
            {{ f.end_form(partner_form) }}

            <div class="ui middle aligned divided list">
                <div class="item">
                    <div class="content">
                        <div class="ui left icon fluid input">
                            <i class="search icon"></i>
                            <input id="search-applications" type="text" placeholder="Search applications...">
                        </div>
                    </div>
                </div>
            </div>

            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Stage</th>
                        <th>Legal advisor</th>
                        <th>Partner</th>
                        <th>Application</th>
                        <th>Accept or Reject</th>
                    </tr>
                </thead>
                <tbody>
                {% for u in applicants %}
                    <tr class="applicant-row" application-profile-id={{ u.id }}>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td>{{ u.application.stage }}</td>
                        {% if u.application.legal_advisor %}
                            <td>{{ u.application.legal_advisor.first_name ~ " " ~ u.application.legal_advisor.last_name }}</td>
                        {% else %}
                            <td>{{ "Not matched yet" }}</td>
                        {% endif %}
                        <td>{{ u.application.partner }}</td>
                        <td>
                            <a href="{{ url_for('application.view', user_id=u.id) }}" class="ui small compact icon button">
                              View Application
                            </a>
                        </td>
                        <td>
                          <div class="ui buttons">
                            <a href="{{ url_for('application.change_status_to_accepted', user_id=u.id) }}" class="ui small compact icon button">
                              <i class="check icon"></i>
                            </a>
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                          </div>
                          <div class="ui buttons">
                            <a href="{{ url_for('application.change_status_to_rejected', user_id=u.id) }}" class="ui small compact icon button">
                              <i class="times icon"></i>
                            </a>
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                          </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // searching within the checklist items
            $('#search-applications').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            var selectedProfileIds = new Set();

            // Allows admin to select applications
            $('.applicant-row').click(function (e) {
                applicantProfileId = this.getAttribute('application-profile-id');
                if (selectedProfileIds.has(applicantProfileId)) {
                    selectedProfileIds.delete(applicantProfileId);
                    $(this).removeClass('active');
                } else {
                    selectedProfileIds.add(applicantProfileId);
                    $(this).addClass('active');
                }
                $('#applicant_ids').val(Array.from(selectedProfileIds));
            });
        });
    </script>
{% endblock %}
