{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid container">
    <div class="ui hidden divider"></div>
    <div class="six wide tablet five wide computer column">
        <div class="ui cards">
            <div class="ui card">
                <div class="content">
                    <h3>Katie Jiang</h3>
                </div>
                <div class="content">
                    <div class="ui sub header">Contact Information</div>
                    <div class="ui list">
                        <div class="item">
                            <i class="mail icon"></i>
                            <div class="content">
                                <a href="mailto:email">katie@gmail.com</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="phone icon"></i>
                            <div class="content">
                                <a href="tel:phone">123-456-7890</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                &nbsp;Philadelphia
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui sub header">Bio</div>
                    <p>
                        Hello, my name is Katie! I'm currently a student at the University of Pennsylvania majoring in the art of zeroes and ones. I like Studio Ghibli movies and frying eggs.</p>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h3>Legal Advisor</h3>
                </div>
                <div class="content">
                    <div class="ui sub header">
                        Contact Information
                    </div>
                    <div class="ui list">
                        <div class="item">
                            <i class="user icon"></i>
                            <div class="content">
                                Stephanie Shi
                            </div>
                        </div>
                        <div class="item">
                            <i class="mail icon"></i>
                            <div class="content">
                                <a href="mailto:email">stephanie@idp.com</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="phone icon"></i>
                            <div class="content">
                                <a href="tel:phone">098-765-4321</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="map marker alternate icon"></i>
                            <div class="content">
                                &nbsp;New York
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="ui sub header">
                        Bio
                    </div>
                    <p>
                        Hello, my name is Stephanie! I'm currently a student at the University of Pennsylvania majoring the prestigious Jerome Fisher Program in Management and Technology. I like eating ramen and playing Breath of the Wild.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ten wide tablet nine wide computer column">
    </div>
</div>
{% endblock %}
