{% extends 'layouts/base.html' %}
{% import 'macros/profile_cards.html' as p %}

{% block content %}
<div class="ui stackable grid container" style="margin-top:24px;">
    <div class="ui hidden divider"></div>

    <div class="six wide tablet five wide computer column">
        <div class="ui cards">
            {{ p.applicant_profile_card(user) }}
            {% if user.application.legal_advisor != None %}
                {{ p.advisor_profile_card(user.application.legal_advisor, user.application.legal_advisor.id == current_user.id) }}
            {% endif %}
        </div>
    </div>

    <div class="ten wide tablet nine wide computer column">
        <div class="ui header">
            Application Checklist
        </div>
        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="content">
                    <div class="ui left icon fluid input">
                        <i class="search icon"></i>
                        <input id="search-checklist-items" type="text" placeholder="Search checklist item by name">
                    </div>
                </div>
            </div>
        </div>

        <table class="ui searchable sortable unstackable celled table" style="overflow-x: scroll;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in user.application.checklist_items %}
                <tr>
                    <td>{{ c.title }}</td>
                    <td>{{ c.description }}</td>
                    <td>
                        {% if current_user.is_applicant() %}
                        <button class="ui small compact icon button upload-document" id="{{ c.id }}">
                            <i class="upload icon"></i>
                        </button>
                        {% else %}
                        <div class="ui buttons">
                            <!--we give the button and icon the same id to avoid weird things with hitboxes-->
                            <button class="ui small compact icon button upload-document" id="{{ c.id }}">
                                <i class="upload icon"></i>
                            </button>
                            <button class="ui small compact icon button delete-checklist-item" id="{{ c.id }}">
                                <i class="trash alternate icon" id="{{ c.id }}"></i>
                            </button>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if current_user.is_screener or current_user.is_advisor or current_user.is_admin %}
        <a href="{{ url_for('application.change_status_to_complete', user_id=user.id) }}" class="ui icon button">
          <i class="check icon"></i>
          Mark as Complete
        </a>
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        // searching within the checklist items
        $('#search-checklist-items').keyup(function() {
            var searchText = $(this).val();
            if (searchText.length > 0) {
                $('tbody td:icontains(' + searchText + ')').addClass('positive');
                $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
            } else {
                $('td.positive').removeClass('positive');
                $('tr.hidden').removeClass('hidden').show();
            }
        });
    });
</script>

{% endblock %}
